
{
-fx-primary : #33691E;
-fx-secondary : #558B2F ;
}
.navbar{
        -fx-background-color: black;

}
.topbar{
    -fx-background-color: #7d5fff;
    -fx-border-width: 1px;
    -fx-border-color: -fx-secondary;

}
.jfx-hamburger StackPane{
	-fx-background-color: white;
}

.button:hover{
    -fx-background-color: -fx-secondary ;
    -fx-text-fill : white ;
}
#drawerBody {
-fx-background-color : #dfe6e9 ;

}
.vBox{
-fx-background-color : #dfe6e9 ;

}
.tree-table-view {
-fx-background-color : -fx-primary ;
    -fx-text-fill : white ;

}
.tree-table-row:selected {
    -fx-background-color: -fx-secondary;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}
.tree-table-view .tree-table-column-cell{
    -fx-background-color: -fx-primary;
    -fx-text-fill : white ;

}
.searchView{
    -fx-text-fill : white ;

}
.addButton {
    -fx-background-color: -fx-primary ;
    -fx-text-fill : white ;
}

.addButton:hover {
    -fx-background-color: -fx-secondary ;
    -fx-text-fill : black ;
    -fx-effect: dropshadow( two-pass-box,#0000, 2, 2, 2, 2);
}
.combo-box{
-fx-border-width : 1  ;
-fx-border-color : -fx-primary ;
-fx-border-radius : 5% ;
-fx-background-radius : 5% ;
-fx-padding : 5 ;
-fx-font-weight : 700 ;
-fx-font-family : 'Open Sans' , 'Helvetica Neue' , 'Arail' , 'sans-serif' ;
}
.combo-box .list-view .list-ce :filled{
-fx-border-width  : 1 ;
-fx-background-color : -fx-primary ;
-fx-text-fill : whtie ;
}



.addProductContainer {

-fx-border-width : 1  ;
-fx-border-color : -fx-primary ;
-fx-border-radius : 3 ;


}
.confirmButton {
    -fx-background-color : #02ea34 ;
    -fx-text-fill : white  ;
}
.confirmButton :hover{
    -fx-background-color: #137508 ;

}
.cancelButton {
    -fx-background-color : #ee5253 ;
        -fx-text-fill : white  ;


}
.cancelButton:hover {
    -fx-background-color : #ff6b6b ;

}

.table-view {
    -fx-base: -fx-primary;
    -fx-control-inner-background: -fx-primary;
    -fx-background-color: -fx-primary;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 0;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-primary, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-secondary;
    -fx-font-size: 16pt;

}
.table-row-cell {
        -fx-font-size: 16pt;
}

.list-view {
        -fx-font-size: 16pt;
                -fx-font-weight : bold ;

        -fx-font-family: "Segoe UI Light";
        -fx-text-fill: white;
        -fx-alignment: center-top;
        -fx-background-color : -fx-primary ;

}
.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: black;
}

.list-cell:even { /* <=== changed to even */
    -fx-background-color: -fx-primary ;
     -fx-font-size: 16pt;
     -fx-font-weight : bold ;
}

.list-cell:filled:hover {
    -fx-background-color: -fx-secondary;
    -fx-text-fill: white;
}
.naviation-buttons{
-fx-background : -fx-secondary ;
-fx-text-fill : white ;
-fx-font-size : 16pt ;
-fx-font-weight : bold ;
        -fx-font-family: "Segoe UI Light";
}

.list-cell { -fx-text-fill: black; /* 5 */ }
.list-cell:odd { -fx-background-color: -fx-primary; /* 1 */ }
.list-cell:even { -fx-background-color: -fx-secondary; /* for information */ }